body {
    background-image: url('https://i.pinimg.com/originals/26/99/21/2699217b42078c8620aad1c810d6e7f1.jpg');
    width: 100%;
}

#login-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 75vh;
    margin: 50px;
    background: white ;
    padding: 1.4%;
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

#slide-banner {
    height:60vh;
    width: 100%;
}

