@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@700&family=Montserrat:wght@700;800;900&family=Oswald:wght@500;600;700&family=Rubik:wght@400;500;600;700;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bg-color: rgb(250, 250, 250);
  --bg-dark: #223346;
  --txt-color: #223346;
  --txt-dark: #ebeef1;
  --primary: #107a3c;
  --accent-dark: #e94326;
  --accent: #ca2f13;
  --accent2: #0091da;
  --accent3: #107a3c;
  --placeholder-color: #aaa9a9;
  --blue-lighter: #dee8ff;
  --blue-light: #4f7add;
  --blue: #305dc5;
  --green: #28ac4f;
  --red: rgb(226, 55, 55);
  --grey-lightest: rgb(244, 244, 244);
  --grey-lighter: rgb(232, 232, 232);
  --grey-light: rgb(212, 212, 212);
  --grey: rgb(164, 180, 185);
  --grey-dark: rgb(148, 157, 160);
  --grey-darker: rgb(101, 108, 110);
  --grey-darkest: rgb(45, 48, 49);

  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  --shadow2: 0 1px 10px 0 rgba(0, 0, 0, 0.5);

  --left-nav-width: 250px;

  font-size: 16px;
}

body {
  background-color: rgb(235, 245, 234);
}

/*
 * ─── MATERIAL DESIGN ICONS ──────────────────────────────────────────────────────
 */
/* Rules for sizing the icon. */
.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.green {
  color: #28a745;
}

.material-icons.btn-delete {
  color: rgb(121, 121, 121);
}

.material-icons.btn-delete:hover {
  color: #a72828;
}

/*
 * ─── MATERIAL DESIGN ICONS: END ─────────────────────────────────────────────────
 */

.card {
  border-radius: 12px;
  /* border: 1px solid rgb(246, 246, 246); */
  border: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  box-shadow: 2px 12px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.badge {
  vertical-align: top;
}

.cartitem-list-item .card {
  height: 150px;
}

.cartitem-list-item .product-quantity {
  width: 25px;
  text-align: center;
}

.summary {
  padding: 2rem;
  border-radius: 12px;
  background: white;
}

.VueCarousel {
  text-align: center;
}
