html,
body {
  height: 100%;
}

body {
  background-image: url('../src/assets/body-bg-oncom.jpg');
  background-color: #f0f0f0;
}

.form-signin {
  width: 100%;
  max-width: 360px;
}

.btn-custom {
  color: #343a40;
  border-color: white;
}

.btn-custom:hover{
  color: white;
  background-color: #343a40;
}